.vantagens-bg {
  background: var(--cor-12);
  padding-top: 80px;
  padding-bottom: 80px;
}

.vantagens {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.vantagens-item img,
h2 {
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .vantagens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .vantagens {
    grid-template-columns: 1fr;
  }
}
